<form method="post" action="{{ path('company_delete', {'id': company.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ company.id) }}">
    <button class="btn btn-md btn-danger">Delete</button>
</form>
