<form method="post" action="{{ path('sector_delete', {'id': sector.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sector.id) }}">
    <button class="btn btn-md btn-danger">Delete</button>
</form>
