{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="e-panel card">
        <div class="card-body">
            <div class="card-title">
                <div class="row flex-lg-nowrap">
                    <div class="col">
                        <h2 class="mr-2"><span>Edit User</span></h2>
                    </div>
                </div>
            </div>
            <div class="e-table">
                {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
                <a href="{{ path('user_index') }}" class="btn btn-md btn-primary mt-3">Cancel</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
